body {
  background-color: #fff;
  color: #628E90;
}

/* Header */
header {
  background-color: #628E90;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 35px;
  font-size: 40px;
  font-family: 'Merriweather Sans', sans-serif;
}

/* Style untuk container form */
.form-container {
  text-align: center; /* Untuk mengatur form ke tengah */
  margin-top: 30px;
  font-family: 'Merriweather Sans', sans-serif;
}

/* Gaya untuk container tombol */
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  text-align: center;
  bottom: 15px;
  margin: 10px;
}

/* Style untuk container tombol-tombol */
.button-position1 {
  display: grid;
  justify-content: right;
  align-items: top;
  margin-top: 20px;
  font-family: 'Merriweather Sans', sans-serif;
}

.button-position2 {
  display: grid;
  justify-content: left;
  align-items: top;
  margin-top: 20px;
  font-family: 'Merriweather Sans', sans-serif;
}

/* Style untuk pesan "Tidak ada berkas dipilih" */
#no-file-selected {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  display: none; /* Sembunyikan pesan awalnya */
  font-family: 'Merriweather Sans', sans-serif;
}

/* Style untuk tombol-tombol */
button[type="submit"] {
  background-color: #628E90;
  color: #fff;
  width: 200px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #9BABB8;
}

/* Gaya untuk container grid */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  text-align: center;
  bottom: 15px;
  margin: 10px;
}

/* Gaya untuk gambar dalam grid */
.container img {
  width: auto;
  /* width: 400px; */
  height: auto;
  margin: auto;
  padding-bottom: 50px;
  display: block;
}

/* Gaya untuk teks "SEBELUM" dan "SESUDAH" */
.container h4 {
  margin-bottom: 15px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

/* Gaya untuk teks dan gambar di dalam container "Inputan" dan "Equal" */
.Inputan, .Output {
  text-align: center;
}

/* Mengatur tata letak elemen-elemen histogram */
.histogram1 {
  margin-top: 0px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

.histogram2 {
  margin-top: 30px;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
}

/* Gaya untuk footer */
footer {
  background-color: #628E90;
  color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 10px;
  padding: 3px;
}
