<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PROJECT Pengolahan Citra</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <strong>Image Processing</strong>
    </header>

    <!-- Container untuk form -->
    <div class="form-container">
        <!-- Menggunakan div untuk mengelompokkan tombol-tombol -->
        <div class="form-container">
            <form action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="POST">
                <input name="img" id="file-input" type="file" />
                <!-- Pesan "Tidak ada berkas dipilih" -->
                <p id="no-file-selected">Tidak ada berkas dipilih</p>
                <div class="button-container">
                    <button type="submit" name="equalize" value="1" id="equalize-button">Equalization</button>
                    <button type="submit" name="blur_face" value="1" id="blur-face-button">Blur Face</button>
                    <button type="submit" name="detect_edges" value="1" id="detect-edges-button">Detect Edge</button>
                    <button type="submit" name="segment_image" value="1" id="segment-image-button">Image Segmentation</button>
                    <button type="submit" name="add_moustache" value="1" id="add-moustache-button">Add Moustache</button>
                    <button type="submit" name="reduce_noise" value="1" id="reduce-noise-button">Reduce Noise</button>
                    <button type="submit" name="apply_opening" value="1" id="apply-opening-button">Opening</button>
                    <button type="submit" name="apply_closing" value="1" id="apply-closing-button">Closing</button>
                </div>
            </form>
        </div>


        <!-- Container untuk gambar dan teks -->
        <div class="container">
            <div class="Inputan">
                <!-- Foto Inputan -->
                {% if img %}
                <h4>Before</h4>
                <div>
                    <img src="{{ img }}">
                </div>
                {% endif %}
                <!-- Histogram Gambar -->
                {% if histogram %}
                <div class="histogram1">
                    <h4>RGB Histogram</h4>
                    <div>
                        <img src="{{ histogram }}">
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="Output">
                <!-- Foto Equal -->
                {% if img2 %}
                <h4>After</h4>
                <div>
                    <img src="{{ img2 }}">
                </div>
                {% endif %}

                <!-- Histogram Equalize -->
                {% if histogram2 %}
                <div class="histogram2">
                    <h4>Equalize Histogram</h4>
                    <div>
                        <img src="{{ histogram2 }}">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-content">
                <p>&copy; RAN. Pengolahan Citra</p>
            </div>
        </footer>
</body>

</html>
