<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PROJECT Pengolahan Citra</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <!-- Header -->
    <div class="header">
        Pengolahan Citra
    </div>

    <!-- Container untuk form -->
    <div class="form-container">
        <!-- Menggunakan div untuk mengelompokkan tombol-tombol -->
        <div class="form-container">
            <form action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="POST">
                <input name="img" id="file-input" type="file" />
                <!-- Pesan "Tidak ada berkas dipilih" -->
                <p id="no-file-selected">Tidak ada berkas dipilih</p>
                <!-- Tombol "Histogram Equalization" -->
                <div>
                    <button type="submit" name="equalize" value="1" id="equalize-button">Histogram Equalization</button>
                </div>    
                <!-- Tombol "Face Blur" -->
                <div>
                    <button type="submit" name="blur_face" value="1" id="blur-face-button">Blur Face</button>
                </div>   
                <!-- Tombol "Edge Detection" -->
                <div>
                    <button type="submit" name="detect_edges" value="1" id="detect-edges-button">Edge Detection</button>
                </div>
                <!-- Tombol "Segmentasi Citra" -->
                <div>
                    <button type="submit" name="segment_image" value="1" id="segment-image-button">Segmentasi Citra</button>
                </div>
            </form>
        </div>


        <!-- Container untuk gambar dan teks -->
        <div class="container">
            <div class="Inputan">
                <!-- Foto Inputan -->
                {% if img %}
                <h4>SEBELUM</h4>
                <div>
                    <img src="{{ img }}">
                </div>
                {% endif %}
                <!-- Histogram Gambar -->
                {% if histogram %}
                <div class="histogram1">
                    <h4>HISTOGRAM RGB</h4>
                    <div>
                        <img src="{{ histogram }}">
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="Equal">
                <!-- Foto Equal -->
                {% if img2 %}
                <h4>SESUDAH</h4>
                <div>
                    <img src="{{ img2 }}">
                </div>
                {% endif %}

                <!-- Histogram Equalize -->
                {% if histogram2 %}
                <div class="histogram2">
                    <h4>HISTOGRAM EQUALIZE</h4>
                    <div>
                        <img src="{{ histogram2 }}">
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

</body>

</html>